
body {
  background-color: #bbbcbe;
  font-family: Arial, sans-serif;
}

.card {
  transition: box-shadow 0.3s ease-in-out;
}

.card:hover {
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.5);
}


a {
  background-color: black;
}